*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;


}

body{
    background: #F7F7F8;
}

.container{
    max-width: 1600px;
    margin: auto;
    display: flex;
}


.bg__while{
    background-color: white;
}

@media screen  and (max-width: 1000px){
    .header-bottom nav{
        display: block;
    }
}
@media screen  and (max-width: 600px){
    .header-bottom nav{
        display: none;
    }
}