

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 400px;
    height: 200px;
}

.box-1{
    border: 1px solid red;

}
.box-2{
    border: 1px solid blue;
    margin: 50px;
}