.best-seller {
    display: flex;
    gap: 16px;
}

.best-seller__ads {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.best-seller__ads img {
    border-radius: 16px;
}

.best-seller__gallery__products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}


.product-item__image {
    background-color: red;
    width: 100%;
}

.product-item__image img {
    width: 100%;
}
.product-item{
    width: calc((100% - 16px *3)/4);
    box-shadow: 0 0  5px #ca7f7f;
}

.product-item__image img{
    width: 100%;
}

/*tab led */
@media screen and  (max-width: 992px) {
    .best-seller__ads{
        display: none;
    }
    .product-item{
        width: calc((100% - 16px *2)/3);
    }
}

/*mobole */
@media screen and  (max-width: 768px) {
    .product-item{
        width: calc((100% - 16px)/2);
    }



}









