*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    border: 10px solid #b30909  ;
    justify-content: space-evenly;


}

.box{
    display: flex;
    /*background: #62e32f;*/
    border: 10px solid #061aa5;
    /*flex-shrink: 0;*/
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: #efb200;
    font-size: 30px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
#box-1{
    /*flex-shrink: 1;*/
    flex-grow: 2;
}
