*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    border: 5px solid #b30909  ;
    /*flex-direction: column;*/
    justify-content: space-evenly;
    height: 800px;
    align-items: center;
    flex-wrap: wrap;
}


.box{
    background: #62e32f;
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: white;
    font-size: 30px;

}