*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bar img{
    border-radius: 5px;
}
.header-bar{
    border-bottom: 1px solid  #292929;
}

.header-bar .header-bar--content{
    max-width: 600px;
    margin: auto;
}

header nav{
    display: inline-block;
    margin-left: auto;
}
.header-bar nav ul li {
    list-style: none;
    display: inline-block;
}