.container, .banner{
    max-width: 1600px;
    margin: auto;
    /*background-color: #8f6824;*/
}
*{
    font-family: Be Vietnam Pro, sans-serif;
}
.benefits-conten{
    display: flex;
    gap: 20px;
    margin-bottom:20px ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.benefits-description{
    color: #4C4C4D;

}
#header--action{
    height: 55px;
    width: 214px;
}
.login{
    width: 117px;
    height: 55px;
    border-radius: 8px;
    background-color: #FF9500;
    padding: 14px 34px 14px 34px;
    color: white;
    border: none;
    cursor: pointer;

}
.up{
    text-decoration: none;
    color: black;
    border: none;
    width: 67px;
    height: 27px;
    position: relative;
    right: 30px;
    top: 7px;





}

.header--action-button{
    font-size: 18px;
}

.benefits-number{
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: end;



}
.benefits-title{
    font-size: 24px;
    font-weight: bold;
    margin: 50px 14px 0 0;

}

.benefits-description{
    font-size: 18px;

}
.benefits-item{
    flex-shrink: 1;
    padding: 50px;
    background-color: #FFFFFF;
    width: 519px;
    height: 437px;
    position: relative;
    border-radius: 12px;


}
.benefits-title{
    margin-bottom: 14px;
}
.benefits-number{
    display: flex;
    justify-content: right;
    font-size: 80px;
    font-weight: bold;
    max-height:59px;
    max-width: 419px;
    margin-left: 50px;
}
.benefits-icon button{
    position: absolute;
    height: 74px;
    width: 74px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    right: 50px;
    bottom: 50px;
    background-color: #FCFCFD;
    cursor: pointer;

}
/*banner */
.banner-container{
    max-width: 1600px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
/* banner trên */
.banner{
    max-width: 965px;
    margin-bottom: 100px;
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.banner-title ,
.banner-title-heading,
.banner-title-conten,
.banner-title-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 854px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.banner-title-heading{
    width: 854px;
    /*height: 100px;*/
    flex-direction: row;
    padding: 14px 30px 14px 20px;
    border: #F1F1F3 solid 1px;
    border-radius: 11px;
    background-color: #FCFCFD;
    font-size: 25px;
    position: relative;

;

}
.banner-title-heading strong {
    color: #FF9500;
}
/*===================lo go bên trong banner heading ==========*/
.banner-logo{
    background-image: url("icon/banner-heading.svg");
    background-color: #FFF4E5;
    height: 62px;
    width: 62px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 14px;
    border-radius: 6px;
    margin-right: 10px;
}
/*banner logo gồm các logo nahxn hiệu bên dưới */
.banner-list--logo{
    background-color: #FCFCFD;
    padding: 30px;
    /*width: 1595px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    /*margin:0 163px 100px 163px ;*/

    width: 100%;
    max-width: 1595px;
    margin: 0 auto 100px auto;



}

.banner-list--logo  img{
    /*background-color: #7f1d1d;*/
    padding: 30px 40px 30px 40px;
    border-right: rgba(41, 41, 41, 0.04) solid 1px;
    /*background-position: center;*/
    width: 170px;
    height: auto;


}
.banner-list--logo img:last-child{
    border-right: none;
}


.banner-title-conten{
    width: 965px;
    height: 94px;
    margin-top: 20px ;
    margin-bottom: 60px;

}
.banner-title-conten .title-1{
    font-size: 38px;
    font-weight: 500;
}.banner-title-conten .title-2{
    font-size: 18px;
}
.banner-pattern{
    background-image: url("icon/banner-pattern.svg");
    height: 43px;
    width: 39px;
    position: absolute;
    left: -20px;
    top: -25px;

}
 /*=================button banner=====================*/

.banner-title-button{
    flex-direction: row;
    width: 366px;
    height: 63px;

}
.banner-title-button .banner-button{
    padding: 18px 24px 18px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}
.banner-title-button .button-courses{
    background-color: #FF9500;
    color: white;
    font-weight: bold;
    margin-right: 12px;
    border: none;
    cursor: pointer;
    width: 195px;
    height: 63px;
}

.banner-title-button .button-view{
    background-color: #FFFFFF;
    border: #F1F1F3 solid 1px;
    width: 159px;
    height: 63px;
    font-weight: 500;

}

/*banner ảnh */
.banner-img{
    position: relative;
    max-width: 1596px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;

}
.banner-img__img{
    width: 1596px;
    height: 790px;
    object-fit: cover;
    border-radius: 12px;
    z-index: 5;
    position: relative;
    margin-bottom: 50px;

    /*width: 100%;*/
    /*max-width: 1596px;*/
}
.banner-img button{
    width: 72px;
    height: 72px;
    background-color: #FFFFFF4D;
    position: absolute;
    top: 359px;
    left: 762px;
    border-radius: 68px;
    z-index: 8;
    border: 6px solid #FFFFFF4D;
    cursor: pointer;

}
.banner-img .banner-img-buton{
    z-index: 10;
    position: relative;
    background-position: center;
}


/*===============nội dung trang cchur ==============================*/
.conten , .benefits-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*width: 1597px;*/
    height: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    position: relative;
    padding: 50px;

    width: 100%;
    max-width: 1597px;




}

.conten  .conten-top h2,
.benefits-heading .conten-top h2 {
    position: absolute;
    top:0;
    left: 0;
    font-size: 48px;
    color: #262626;
    font-weight: 600;

}
.conten .conten-top p,
.benefits-heading .conten-top p{
    color: #59595A;
    width: 1177px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    position: absolute;
    left: 0;
    margin-top: 10px;
}
.conten-top a:hover{
    background-color: #FF9500;
}

.conten-top a{
    text-decoration: none;
    background-color: #FCFCFD;
    width: 120px;
    height: 63px;
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    position: absolute;
    /*bottom: 0;*/
    /*top: 0;*/
    right: 0;
    color: #292929;
    font-size: 18px;
}













































