*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}


.boxxx{
    width: 500px;
    height: 500px;
    position: relative;
}
.box_1{
    width: auto;
    height: auto;
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 4;
}
.box_2{
    background-color: white;
    width: 80%;
    inset: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 16;
    top: -450px;
    margin-inline: auto;
    padding: 15px;
    border: 1px solid #301515;


}
.x{
    border-bottom: 1px solid #301515;
    padding-bottom: 15px;
    margin-bottom: 15px;


}
.box_2 .x h2{
    display: inline-block;
    width: 95%;
}